<div class="side-box side-box-home open">
  <section class="m-15">
    <div class="icon icon-lg m-b-1">
      <img src="{{ "/assets/icons/icon-hellou.png" | relative_url }}"
      alt="author" />
    </div>
    <!-- <h1 class="m-b-1">
      Zapoměli jsme odbočit.
    </h1> -->
    <div class="caption">
      <h2 class="m-b-2">
        Čo znamená tráviť svoj voľný čas v meste? Jaká je minulosť, súčasnosť a
        budúcnosť mesta Veľký Krtíš? Tieto stránky obsahujú články v ktorých sa
        skupina teoretikov a dizajnérov snaží na tieto otázky nájsť odpovede.
      </h2>
    </div>
    <p class="excerpt">
      Články
    </p>
    {%- for project in site.projects -%}
    <a
      class="btn btn-entry map-entry"
      data-lon="{{ project.lon }}"
      data-lat="{{ project.lat }}"
    >
      <h2>
        {{ project.name | escape }}
      </h2>
      <div class="excerpt left-right">
        <div>
          {{ project.author }}
        </div>
        <div>
          {{ project.language }}
        </div>
      </div>
    </a>
    {%- endfor -%}
    <div>
      {%- if site.facebook_username -%}
      <p>
        <a
          href="https://www.facebook.com/{{
            site.facebook_username | cgi_escape | escape
          }}"
          ><svg class="svg-icon">
            <use
              xlink:href="{{
                '/assets/minima-social-icons.svg#facebook' | relative_url
              }}"
            ></use>
          </svg>
          <span class="username">{{ site.facebook_username | escape }}</span></a
        >
      </p>
      {%- endif -%}
      <p>
        <a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a>
      </p>
    </div>
  </section>
</div>
