<div
  class="side-box map-location"
  data-lon="{{ project.lon }}"
  data-lat="{{ project.lat }}"
>
  <header>
    <div class="header-sm">
      {%- include icon-cross.html -%}
    </div>
    <div>
      {%- include image.html -%}
    </div>
  </header>

  <section class="m-15">
    <div class="icon icon-lg">
      {%- include icon.html -%}
    </div>
    <h1>
      {{ project.name | escape }}
    </h1>
    <p class="post-meta">• {{ project.author }}</p>

    <p>
      {{ project.excerpt }}
    </p>

    <p>
      <a class="btn-goto" href="{{ project.url | relative_url }}">Čtěte dále</a>
    </p>
  </section>
</div>
